html, body {
    width: 100%;
    padding: 0;
    margin: 0;
}

#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#login {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 66.66%;
    top: 25%;
}